<p id="notice"><%= notice %></p>

<p>
  <strong>Cylinders:</strong>
  <%= @car.cylinders %>
</p>

<p>
  <strong>Displ:</strong>
  <%= @car.displ %>
</p>

<p>
  <strong>Drivetrain:</strong>
  <%= @car.driveTrain %>
</p>

<p>
  <strong>Fueltype:</strong>
  <%= @car.fuelType %>
</p>

<p>
  <strong>Mpg:</strong>
  <%= @car.mpg %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Trany:</strong>
  <%= @car.trany %>
</p>

<p>
  <strong>Class:</strong>
  <%= @car.class %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
